.container-fluid {
    background: #d8e5dc;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    height: max-content;
    min-height: 100% !important;
}

.query_selector {
    width: 100%;
    margin: 0%;
    border-radius: 5px 5px 5px 5px;
    border-color: blue;
    border-style: black;
    list-style: none;
    font-size: 14;
    font-weight: normal !important;
    text-align: left;
    background-color: #bae4f7;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 2px;
    margin-left: -2px !important;
    padding-top: 0px !important;
}

.database {
    margin-left: -18px;
    font-size: 14;
    font-weight: bold;
}

.query_selector:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.header {
    background: #276e9f;
    margin-bottom: 1%;
    height: 7%;
    padding: 0%;
    min-height: 75px;
    position: fixed !important;
    z-index: 5;
    width: 100% !important;
}

.issue_header {
    justify-content: center;
    font-weight: bold;
    font-size: 12pt !important;
    color: #404040 !important;
    margin-bottom: 7%;
    height: 40px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.ignore {
    background: rgba(255, 159, 64, 1);
    color: white;
    font-weight: bold;
    width: 98%;
    border-radius: 40%;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.verify {
    background: #4FBBEE;
    color: white;
    font-weight: bold;
    width: 98%;
    border-radius: 40%;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* the slides */
.slick-slide {
    margin: 0 27px;
    height: 100%;
}
/* the parent */
.slick-list {
    height: 100%;
}

.slick-track {
    width: 987 px !important;
}

.issues_carousel {
    width: 90%;
    min-height: 500px;
    max-height: 500px !important;
}

.carousel-holder {
    min-height: 500px;
    padding-left: 5px;
}

.carousel-holder-row {
    margin-left: 0px !important;
}

.carousel-row {
    min-height: 500px;
    width: 100%;
}

.queries-card {
    z-index: 1;
    overflow-x: hidden;
}

.queries-card-body {
    background: #78C5E5;
    text-align: left !important;
    padding-left: 0px !important;
    padding-right: 15px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    line-height: 2.0 !important;
    color: #404040 !important;
    border-radius: 0 0 .25rem .25rem;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    vertical-align: middle;
}

.queries-card-header {
    background: #4FBBEE !important;
}

.space-card {
    height: 0 !important;
    opacity: 0 !important;
    border: none !important;
    background-color: rgba(255, 255, 255, 0);
}

.carousel_card {
    display: block !important;
    float: left !important;
    min-width: 309px !important;
    padding: 9%;
    width: 309px !important;
    height: 460px !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    position: relative !important;

}

.list_card {
    max-width: 306px !important;
    max-height: 460px !important;
    padding: 2%;
    margin: 2%;
    margin-left: 5% !important;
    min-width: 300px !important;
}

.query_score {
    height: 100%;
    width: 100%;
    margin-right: 0%;
}


.context,
.suggestion {
    height: 40px;
    font-size: 10pt;
    color: #404040 !important;
}

.issue_score {
    height: 100px;
}

.reported {
    font-size: 10pt;
    color: #404040 !important;
}


.ignore-verify-buttons {
    height: 40px;
    padding: 5%;
    padding-top: 1% !important;
}

.hexagon {
    position: relative;
    width: 75px;
    height: 43.50px;
    margin: 21.65px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 37.5px solid transparent;
    border-right: 37.5px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom-width: 21.65px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 21.65px;
    border-top-style: solid;
    border-top-color: inherit;
    vertical-align: -50%;
}

.score {
    font-weight: bold;
    color: white;
    font-size: 22pt;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}



.show-details-btn,
.filter-btn {
    background: #4FBBEE !important;
    border-color: #4FBBEE !important;
    margin: 1%;
    width: 80px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.show-details-btn {
    margin-right: 3%;
}

.sort-btn {
    background: #4FBBEE !important;
    border-color: #4FBBEE !important;
    margin-top: 2%;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.view-btn {
    background: #4FBBEE !important;
    border-color: #4FBBEE !important;
    margin-top: 0.7%;
    margin-right: 2%;
    width: 50px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.disabled-view-btn,
.disabled-show-details-btn,
.disabled-filter-btn {
    background:  #FFFFFF !important;
    color: #404040 !important;
    border-color: #FFFFFF !important;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #4FBBEE;
  border-right: none;
  padding: 0px;
  height: 25px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #404040;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.searchTerm:focus{
  color: #404040;
}

.searchButton {
  width: 40px;
  height: 25px;
  border: 1px solid #4FBBEE;
  background: #4FBBEE;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 18px;
}


.status_btn_active {
    background: grey !important;
    color: white;
}

.the-car {
    background: #FFFFFF !important;
    border-radius: 5px 5px 5px 5px !important;
}

.prev {
    color: #4FBBEE !important;
    display: flex !important;
    align-items: center !important;
    font-size: 50px !important;
    opacity: 0.7 !important;
}
.slick-arrow:before {
    cursor: pointer;
}

.next {
    color: #4FBBEE !important;
    display: flex !important;
    align-items: center !important;
    font-size: 50px !important;
    opacity: 0.7 !important;
}


.slick-arrow:after {
    cursor: pointer;
}

.hidden-arrow {
    display: none !important;
}

.details {
    margin-left: 6% !important;
    padding-bottom: 2% !important;
    color: #404040 !important;
}

.hidden {
    display: None !important;
}

.details-box {
    margin-top: auto !important;
    margin-right: auto !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.details-card {
    width: 90%;
}

.details-header {
    background: rgba(79, 187, 238, 0.7) !important;
    width: 100%;
    border-radius: .25rem .25rem 0 0 !important;
    border: none !important;
    text-align: center !important;
    color: #404040 !important;
    padding: 0 !important;
}

.details-body {
    padding: 3 !important;
    background: #bae4f7;
    border-radius: 0 0 .25rem .25rem  !important;
}

.even-row {
    background-color: rgba(79, 187, 238, 0.0);
    margin-right: 1% !important;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: .25rem;
}

.odd-row {
   margin-right: 1% !important;
   padding-bottom: 1%;
   padding-top: 1%;
   padding-right: 2%;
   padding-left: 2%;
   border-radius: .25rem;
}

.query-row {
    background-color: rgba(79, 187, 238, 0.0);
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 2%;
    padding-right: 2% !important;
    padding-left: 2% !important;
    border-radius: .25rem;
    margin-left: -15px !important;
}

#sql-query {
    font-size: 11px;
}

#context-query {
    font-size: 11px;
    margin-left: 2px !important;
}

.details-info {
    font-size: 9pt;
    margin-right: 2px !important;
}

.close-details {
    cursor: pointer;
    z-index: 10;
    float: right;
    padding-top: 5px;
    padding-right: 7px;
}

.selected_query {
    font-weight: bold;
}

.general-details-container {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding: 0% !important;
    text-align: center !important;
    width: 100% !important;
}

.general-details-body {
    font-size: 0.8vw;
    background: #abd3c8 !important;
    border-radius: 0 0 .25rem .25rem  !important;
    color: #404040 !important;
    margin-bottom: 5% !important;
    overflow: hidden;
    float: left;
    width: 100%;
    padding-top: 4% !important;
    padding-bottom: 5% !important;
}

.general-details-header {
    background: #7ebdab !important;
    width: 100%;
    border-radius: .25rem .25rem 0 0 !important;
    border: none !important;
    text-align: center !important;
    color: #404040 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.card-header {
    border-bottom: none !important;
}

#verify_ignore_chart {
    background: white;
    height: 9%;
    width: 9%;
    padding: 5% !important;
}

#nomatching {
    font-size: 50pt;
    justify-content: center;
    color: #404040;
}

#line-chart {
    background-color: #FFFFFF;
    border-radius: .25rem;
    padding-top: 5% !important;
    height: 100% !important;
}

.query_score_header {
    text-align: center !important;
    font-size: 18;
    background:  #faa596 !important;
}

.query_score {
    margin-left: 0.5em;
    height: 157px;
}

.query_score_body {
    font-size: 32pt;
    background:  #efb3a9 !important;
}

.issue_stat {
    margin-left: 0.75em;
}

.issue_stat_value {
    margin-right: 1.5em;
}

.card-deck {
    margin-left: 2% !important;
}

#horkos-title:hover {
    cursor: pointer;
}

.horkos-title {
    max-width: 300px !important;
}

#domain_chart {
    background: white;
}

.domain_chart_wrapper {
    margin-right: -20px;
    margin-left: -4.7% !important;
    background: #e2ebe6;
    border-radius: .25rem;
    width: 83% !important;
}

.domain-chart-header {
    background: rgba(255, 159, 64, 0.7) !important;
    width: 100%;
    border-radius: .25rem .25rem 0 0 !important;
    border: none !important;
    text-align: center !important;
    color: #404040 !important;
    padding: 0 !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.domain-chart-body {
    padding: 3 !important;
    background: #FFFFFF;
    border-radius: 0 0 .25rem .25rem  !important;
}

.flywheel {
    width: 220px !important;
    height: 116 px !important;
}

.total-issue-header {
    background: rgba(142, 141, 190, 0.8) !important;
    width: 100%;
    border-radius: .25rem .25rem 0 0 !important;
    border: none !important;
    text-align: center !important;
    color: #404040 !important;
    padding: 0 !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.total-issue-body {
    padding: 3 !important;
    background: #FFFFFF;
    border-radius: 0 0 .25rem .25rem  !important;
    max-height: 300px !important;
}

.status-issue-header {
    background: rgba(245, 156, 169, 1)!important;
    width: 100%;
    border-radius: .25rem .25rem 0 0 !important;
    border: none !important;
    text-align: center !important;
    color: #404040 !important;
    padding: 0 !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.status-issue-body {
    padding: 3 !important;
    background: #FFFFFF;
    border-radius: .25rem .25rem .25rem .25rem !important;
}

.space-col {
    max-width: 5% !important;
}

.chart-line {
    width: 100% !important;
    padding-bottom: 2% !important;
    padding-left: 6% !important;
    max-height: 350px !important;
}

.buttons-padding {
    padding-top: 1% !important;
    align-items: right;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .card-height {
        width: 100% !important;
        height: 100% !important;
    }
  }

.domain-score-container {
    height: 45% !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding: 0% !important;
    text-align: center !important;
    height: 100% !important;
}

.card {
    border: 0 !important;
}

.details-row {
    margin-left: 5px !important;
    padding-top: 2% !important;
}

.body-row {
    padding-top: 100px !important;
}

.domain-score-header {
    background: #e78e7e !important;
    width: 100%;
    border-radius: .25rem .25rem 0 0 !important;
    border: none !important;
    text-align: center !important;
    color: #404040 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.domain-score-body {
    background: #FFFFFF !important;
    border-radius: 0 0 .25rem .25rem  !important;
    border: none !important;
    color: #404040 !important;
    text-align: center !important;
    height: 100% !important;
    font-weight: lighter !important;
}

.domain-score-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.domain-name {
    font-size: 12 !important;
}


.domain-score-card-top {
    background: #d4e2d9ad !important;
    margin-left: 0px !important;
    padding-bottom: 2.5% !important;
    padding-top: 0% !important;
}

.domain-score-card-bottom {
    background: #d4e2d9ad !important;
    border-radius: .25rem .25rem .25rem .25rem  !important;
}

.domain-score-card-left {
    padding-right: 0% !important;
    padding-left: 0% !important;
}

.domain-score-card-middle {
    padding-right: 2.5% !important;
    padding-left: 2.5% !important;
}

.domain-score-card-right {
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10% !important;    
}

.letter-grade-score {
    color: #FFFFFF !important;
    font-size: 1.2vw;
    text-align: center !important; 
    line-height: 50px;
    font-weight: bold !important;
}

.dot1 {
    background-color: #7FBEAB !important;
}

.dot2 {
    background-color: #C5DF66 !important;
}

.dot3 {
    background-color: #FFE65B !important;
}

.dot4 {
    background-color: rgba(255, 159, 64, 1) !important;
}

.dot5 {
    background-color: rgba(221, 97, 74, 1) !important;
}

.dot6 {
    background-color: #595959 !important;
}

.letter-grade-score-na {
    color: #FFFFFF !important;
    font-size: 0.9vw;
    text-align: center !important; 
    line-height: 50px;
    font-weight: bold !important;
}